Common/DataService/WCFBLL/Service References/ServiceReference.External/WcfBBHome.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://holyca-backup1:10001/WcfBBHome.BbHomeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBBHome" />
  <xs:element name="GetProductDetailByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetailByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetProductDetailByOrderIdResult" nillable="true" type="q1:ArrayOfsale_t_orderItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetOrderByIdResult" nillable="true" type="q2:sale_v_order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALLOrderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALLOrderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetALLOrderByIdResult" nillable="true" type="q3:ArrayOfsale_v_order" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusByOrderNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusByOrderNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetOrderStatusByOrderNoResult" nillable="true" type="q4:ArrayOfsale_t_orderStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrePayOrderLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senddatefrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="senddateto" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="createtimefrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="createtimeto" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="payMethod" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="flowstatus" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="paystatus" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="channelId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="ordercode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usercode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sendto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrePayOrderListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetPrePayOrderListsResult" nillable="true" type="q5:ArrayOfOrderModel" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsByOrderCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsByOrderCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetOrderDetailsByOrderCodeResult" nillable="true" type="q6:OrderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderNumberByOrderCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ordercode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderNumberByOrderCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderNumberByOrderCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOrderCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOrderCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserOrderCountResult" type="xs:int" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserScoures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
        <xs:element minOccurs="0" name="sum" type="xs:int" />
        <xs:element minOccurs="0" name="sourcdID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserScouresResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWmsDetailByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWmsDetailByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWmsDetailByOrderIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetCustomerInfoByUserNameResult" nillable="true" type="q7:base_t_member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRtnOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="rtnOrderV" nillable="true" type="q8:sale_v_rtnOrder" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="rtnOrderItemList" nillable="true" type="q9:ArrayOfsale_t_rtnItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRtnOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRtnOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRtnItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="rtnItem" nillable="true" type="q10:sale_t_rtnItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRtnItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRtnOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="rtnOrder" nillable="true" type="q11:sale_t_rtnOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRtnOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRtnStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="rtnStatus" nillable="true" type="q12:sale_t_rtnStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRtnStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRtnCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRtnCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRtnCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCAAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="ca" nillable="true" type="q13:CA_CustomerAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCAAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCAAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCustomerTranlogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCustomerTranlogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="SelectCustomerTranlogsResult" nillable="true" type="q14:ArrayOfCA_TranLogs" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="SelectRulesResult" nillable="true" type="q15:ArrayOfCA_Rules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCustomerAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCustomerAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="SelectCustomerAccountResult" nillable="true" type="q16:CA_CustomerAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCATranInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="info" nillable="true" type="q17:CA_TranInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCATranInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCATranInfosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserOrderCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="promID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserOrderCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserOrderCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckResourceParm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResourceParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckResourceParmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckResourceParmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRecomCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecomCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRecomCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckRecomCodeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="useCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromRecommendByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RescouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromRecommendByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="SelectPromRecommendByCodeResult" nillable="true" type="q18:tb_Prom_Recommend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromRecommend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="prom" nillable="true" type="q19:tb_Prom_Recommend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromRecommendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePromRecommendResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromRecommend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="prom" nillable="true" type="q20:tb_Prom_Recommend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromRecommendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPromRecommendResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromRecommend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecPromID" type="xs:int" />
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromRecommendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="SelectPromRecommendResult" nillable="true" type="q21:ArrayOftb_Prom_Recommend" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRecommendByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecommendID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRecommendByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="SelectRecommendByIDResult" nillable="true" type="q22:tb_Prom_Recommend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSaleTSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="tSource" nillable="true" type="q23:sale_t_source" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSaleTSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSaleTSourceResult" type="xs:int" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSaleOrderSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="orderSource" nillable="true" type="q24:sale_t_ordersource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSaleOrderSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSaleOrderSourceResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderDeliveryMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderDeliveryMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderDeliveryMethodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoreNameByTypeCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoreNameByTypeCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSoreNameByTypeCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirstCk" type="xs:int" />
        <xs:element minOccurs="0" name="SecondCk" type="xs:int" />
        <xs:element minOccurs="0" name="ProductID" type="xs:int" />
        <xs:element minOccurs="0" name="NeedQty" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStoreExistResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPswKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pwdId" type="xs:int" />
        <xs:element minOccurs="0" name="keyString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPswKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPswKeyResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckQuestionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePswKeyStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pwdId" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePswKeyStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePswKeyStatusResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassWordByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassWordByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePassWordByEmailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPswKeyStatusByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPswKeyStatusByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPswKeyStatusByEmailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="pwdId" type="xs:int" />
        <xs:element minOccurs="0" name="keyString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPswKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPswKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPswKeyResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="pwdId" type="xs:int" />
        <xs:element minOccurs="0" name="keyString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberNo" type="xs:int" />
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetUserAccountResult" nillable="true" type="q25:ArrayOftb_User_UserPromAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetPayListResult" nillable="true" type="q26:ArrayOfweb_t_pay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSaleAreaState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberNo" type="xs:int" />
        <xs:element minOccurs="0" name="areaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSaleAreaStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSaleAreaStateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSaleAreaStateByPdt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="areaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSaleAreaStateByPdtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSaleAreaStateByPdtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLSAmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
        <xs:element minOccurs="0" name="sum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLSAmtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceByInvoiceNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceByInvoiceNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetInvoiceByInvoiceNoResult" nillable="true" type="q27:ArrayOfsale_t_orderInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserPromIdByRecommend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recomCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserPromIdByRecommendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserPromIdByRecommendResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPreRecomCodeExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recomCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPreRecomCodeExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPreRecomCodeExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPregnantByPre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="pre" nillable="true" type="q28:base_t_pregnant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPregnantByPreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="getPregnantByPreResult" nillable="true" type="q29:ArrayOfbase_t_pregnant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPregnantByParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="pre" nillable="true" type="q30:base_t_pregnant" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="et" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPregnantByParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="getPregnantByParamResult" nillable="true" type="q31:ArrayOfbase_t_pregnant" />
        <xs:element minOccurs="0" name="totalNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePregnant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="p" nillable="true" type="q32:base_t_pregnant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePregnantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changePregnantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePregnantImg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="pimg" nillable="true" type="q33:base_t_pregnantImg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePregnantImgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changePregnantImgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPregnantCouponCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="promid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPregnantCouponCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPregnantCouponCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPregnantNoExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pregnantNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPregnantNoExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPregnantNoExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberBaby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="membNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberBabyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetMemberBabyResult" nillable="true" type="q34:ArrayOfbase_t_membBaby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMemberBaby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="baby" nillable="true" type="q35:base_t_membBaby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMemberBabyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMemberBabyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberBaby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="baby" nillable="true" type="q36:base_t_membBaby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberBabyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInviteEmailByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MembNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInviteEmailByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetInviteEmailByUserIdResult" nillable="true" type="q37:ArrayOfbase_t_member" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBabyBirthday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="membNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBabyBirthdayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBabyBirthdayResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStore4Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="areaId" type="xs:int" />
        <xs:element minOccurs="0" name="ckId" type="xs:int" />
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStore4OrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetStore4OrderResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetUserResult" nillable="true" type="q38:pt_t_user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="starTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="SearchOrderByTimeResult" nillable="true" type="q39:ArrayOfsale_v_order" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetProductListByOrderIdResult" nillable="true" type="q40:ArrayOfsale_v_order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCustomerPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="membNo" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCustomerPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateCustomerPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="member" nillable="true" type="q41:base_t_member" />
        <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCustomerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="member" nillable="true" type="q42:base_t_member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerClusterID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memNo" type="xs:int" />
        <xs:element minOccurs="0" name="clusterId" type="xs:int" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerClusterIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerClusterIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="membNo" type="xs:int" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByUserCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByUserCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetCustomerByUserCodeResult" nillable="true" type="q43:base_t_member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByMemberNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByMemberNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetCustomerByMemberNoResult" nillable="true" type="q44:base_t_member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="membNo" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="param" nillable="true" type="q45:base_t_member" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetCustomerResult" nillable="true" type="q46:ArrayOfbase_t_member" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetCustomerByEmailResult" nillable="true" type="q47:base_t_member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetCustomerByMobileResult" nillable="true" type="q48:base_t_member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actorNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMemberActorResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetMemberListResult" nillable="true" type="q49:ArrayOfbase_t_member" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberListByParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReferrerMembNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobileTel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberListByParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetMemberListByParamResult" nillable="true" type="q50:ArrayOfbase_t_member" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberActorByMemberNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberActorByMemberNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetMemberActorByMemberNoResult" nillable="true" type="q51:ArrayOfbase_t_membActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindUserResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMemberAddr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="addr" nillable="true" type="q52:base_t_membAddr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMemberAddrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMemberAddrResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserOrderByPromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="promid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserOrderByPromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="getUserOrderByPromIdResult" nillable="true" type="q53:ArrayOfsale_t_order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderNoByOrderCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderNoByOrderCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderNoByOrderCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWebOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="order" nillable="true" type="q54:sale_t_order" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="invoice" nillable="true" type="q55:sale_t_orderInvoice" />
        <xs:element minOccurs="0" name="membNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWebOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveWebOrderResult" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWebOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="order" nillable="true" type="q56:sale_t_order" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="items" nillable="true" type="q57:ArrayOfsale_t_orderItem" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="invoice" nillable="true" type="q58:sale_t_orderInvoice" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="status" nillable="true" type="q59:sale_t_orderStatus" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="paystatus" nillable="true" type="q60:sale_t_orderPayStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWebOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWebOrderResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelWebOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" type="xs:int" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelWebOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelWebOrderResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeStatusResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByMembNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberNo" type="xs:int" />
        <xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productPrinted" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByMembNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetOrderByMembNoResult" nillable="true" type="q61:ArrayOfsale_t_order" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestOrderByMembNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestOrderByMembNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLatestOrderByMembNoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="actorNo" type="xs:int" />
        <xs:element minOccurs="0" name="addressNo" type="xs:int" />
        <xs:element minOccurs="0" name="payMethod" type="xs:int" />
        <xs:element minOccurs="0" name="deliveryType" type="xs:int" />
        <xs:element minOccurs="0" name="invoiceNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberNo" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserBuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserBuyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserOrderEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserOrderEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserOrderEmailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserBlacklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserBlacklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserBlacklistResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateASN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtnNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateASNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateASNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberByUserCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberByUserCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/WcfBBHome" minOccurs="0" name="GetMemberByUserCodeResult" nillable="true" type="q62:ArrayOfkf_t_member_LSLog" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumScoreByUserCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumScoreByUserCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSumScoreByUserCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>